:root { 
--indigo_400_99:#5564d799; 
--red_600:#e04243; 
--gray_800_07:#4c4c4c07; 
--green_700:#279044; 
--green_300_19:#91ba8319; 
--bluegray_900_60:#2d2d2d60; 
--red_400_19:#e04b4319; 
--teal_300:#62b3ab; 
--pink_A100:#ff72d2; 
--gray_400_19:#c6c6c619; 
--deep_orange_300:#ff8b6a; 
--light_blue_A700:#018df0; 
--amber_301:#ffd166; 
--red_A200:#fe533e; 
--yellow_50:#fffbed; 
--amber_300:#ffc85f; 
--black_900_0c:#0000000c; 
--blue_50:#e8f5fe; 
--orange_200:#efc985; 
--red_600_63:#e0424363; 
--bluegray_800:#36414f; 
--indigo_400:#6478d3; 
--bluegray_401:#868686; 
--bluegray_400:#828fa2; 
--bluegray_200:#c0c7d0; 
--lime_50:#fdf5ee; 
--indigo_400_19:#5564d719; 
--black_900_19:#00000019; 
--green_400_19:#4cd96419; 
--white_A700:#ffffff; 
--indigo_401:#5564d7; 
--purple_200:#ea98d4; 
--gray_51:#f9f4fa; 
--deep_orange_50:#ffebe5; 
--red_55:#fff3ef; 
--red_53:#fbf3ec; 
--red_54:#fdf4ee; 
--red_51:#fef5ef; 
--red_52:#fff4ef; 
--gray_50:#f8f8f8; 
--red_50:#fff3f0; 
--green_700_63:#27904463; 
--black_900_66:#01040c66; 
--black_900:#000000; 
--pink_400:#ef466f; 
--orange_A100:#ffcf80; 
--gray_105:#faf4f4; 
--gray_103:#f4f4fa; 
--gray_500:#a6a5a5; 
--gray_104:#f4faf6; 
--indigo_50:#e2e8ed; 
--indigo_51:#e8e8ff; 
--bluegray_900_97:#2d2d2d97; 
--gray_102:#f2f2f2; 
--gray_100:#fbf8f3; 
--bluegray_900:#2d2d2d; 
--bluegray_700:#2e6458; 
--bluegray_300:#859ba9; 
}